*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Urbanist", serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color:#eee7e7b2;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1060px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
 
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
  
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #a56799;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #a56799;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
  margin-right: 6px;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #a56799;
}

.input-wrap {
  position: relative;
  margin-bottom: 30px;
}

.input-field:focus + label,
.input-field:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: #787b80; 
}

.input-field:focus {
  border-color: #a56799;
}


.input-field {
  width: 100%;
  padding: 16px 12px 12px 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}
.input-field {
  color: #333; 
}

label {
  position: absolute;
  top: 16px; 
  left: 12px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background: linear-gradient(45deg, #E5DAE2, #9D7F97);
  color: #151111;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.sign-btn:hover {
  background-color: #a56799;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #a56799;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel-img {
  left: 0%;
}

.carousel-img {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #9D7F97;
  background: linear-gradient(45deg,#E5DAE2 70%, #9D7F97) 30%;
  border-radius: 2rem 0 2rem 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  padding: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center; 
  align-items: center;
}

.img-1 {
  max-width: 500px; 
  max-height: 500px;
  object-fit: cover;
  align-items: center;
  object-fit: cover;
  border-radius: 0.5rem;
}
.image-text {
  position: relative;
  top: 20px; 
  font-size: 12px;
  color: #333;
  text-align: center;
}
.highlight {
  font-weight: bold;         
  color:#6f6475;               
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel-img {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }


}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel-img {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }


  form {
    padding: 1rem 2rem 1.5rem;
  }
}